[2018-05-13 17:03] dehciappina opened #1 "Can't see .svg thumbnails in Onedrive's folder"
### Problem
The svg explorer extension is not working inside the onedrive folder, where I synchronise my work to the cloud.

### Solution
Go into Settings and disable the _Save space and download files as you use them_ option.

With the option enabled files are uploaded to OneDrive and only a "ghost" file is left in its place until you open it, at which point the file is downloaded once again and

[2018-05-14 15:34] richard-scott commented on #1
I have the same issue but its with files in Google Drive.

[2018-05-15 19:24] taodailOryx commented on #1
+1. I love this extension; it's invaluable. It would be nice if it could work on cloud folders. I wish I knew enough to look into it.

[2018-05-18 20:30] jeffhoward001 commented on #1
We're running into the same issue, we use OneDrive like our corp network share, so this is a real bummer.

[2018-05-22 14:00] PhilippSPOTTERON commented on #1
Same here sadly. The SVG files are saved locally, not just in the OneDrive Cloud but do not show as thumbnails in explorer on Windows 10 64bit.

[2018-05-22 20:15] maphew commented on #1
It seems to extend beyond cloud folders. I have a folder on my local D: drive with an assortment of image types (GIF, ICO, PNG, & SVG). Thumbnails are not generated for the .svg files in this specific folder. Other folders in the same folder tree are fine. If I copy the files to another folder on the same drive thumbnails are generated.

[code]
Deleting IconCache.db and restarting Explorer.exe doe

[2018-06-11 21:38] richard-scott commented on #1
I found a way to fix my black thumbnail pictures problem that may help others.
In Inkscape:

1. Load problem file and CTRL+A to select all.
2. File -> Document Properties -> Resize document to selection.
3. File -> Clean up document
4. File -> Save

And if that didn't work, cutting and pasting the objects into a new file and then doing the above on it helped too.

[2018-06-14 08:25] skippengs opened #2 "SVG's are all black in the preview"
Love this tool, but when al svg's are turned black it becomes useless.
Currently viewing a folder with svg's of country flags.
They all turn into the same generic shape and all detail is lost.
![2018-06-14 10_24_29-window](https://user-images.githubusercontent.com/7521903/41400349-309db876-6fbd-11e8-9968-cdda46b6e911.png)

[2018-06-14 09:25] richard-scott commented on #2
See this [comment](https://github.com/maphew/svg-explorer-extension/issues/1#issuecomment-396395688), it may help.

[2018-06-25 10:14] darylknight commented on #1
Same issue for me on Windows 10 x64.

[2018-07-05 17:03] const-int commented on #2
Same problem here. Files exported from Adobe XD are black silhouettes.
![svg-demo](https://user-images.githubusercontent.com/5854245/42337678-c7eaeb74-8087-11e8-87a0-7391c66bf2a9.png)

[2018-07-10 19:15] jdgregson commented on #1
I am also affected by this issue, also Windows 10 x64.

I found two interesting points that others may have pointed out:
1. the thumbnails render when viewing search results of the OneDrive folder (the green check mark is still visible)
2. the thumbnails render inside a Save As dialog in the OneDrive folder (the green check mark is still visible)

I'm not sure if this extension is still under acti

[2018-07-27 04:23] geekley opened #3 "<use> tags are not rendered when they are before their referenced elements"
Simple example:
[code]
This should render as 2 shapes (like the browser and Inkscape do), but the thumbnail preview only shows 1 shape, not recognizing the `<use>` tag.
When the use tag is _after_ the referenced element, both shapes are shown correctly.

I didn't test it, but it is possible that other tags with the `href` or `xlink:href` attribute also have this incorrect behavior.

If this bug is

[2018-07-30 11:17] ionum commented on #3
Definitely a bug. I experienced the same problem.

Tried to file a bug: https://bugreports.qt.io/browse/QTBUG-69694

[2018-07-30 22:36] geekley opened #4 "width and height attributes are ignored on <svg> element, causing svg files which rely on that for clipping to display incorrectly"
Simple example:
[code]
This should render as half circle (like the browser does), but the thumbnail preview shows the whole drawing, ignoring the width and height attributes of the root `<svg>` element.
When the svg file relies on these to clip the image, it is rendered incorrectly.
I think it should render considering those attributes, because the preview should reflect what the image will actual

[2018-07-30 23:03] geekley opened #5 "<tspan> tag with x and y attributes not being rendered correctly"
Simple example:
[code]
This should render each `<tspan>` in a separate line, but the preview is not doing this. It is ignoring either the `<tspan>` tag or its x and y attributes.

Oddly enough, unlike #4, the width and height attributes on the root element, are not ignored in this example.

[2018-07-30 23:17] geekley commented on #3
@ionum could you check #4 ~and #5 too~, if possible?
I don't know if #4 is a bug inside Qt or in how the library is used. #5 ~is probably a bug in Qt~ happens because Qt implements SVG Tiny spec.
Please and thank you :smile:.

[2018-07-31 14:58] geekley commented on #5
It turns out that QtSVG follows SVG Tiny specification, which [does not support](https://www.w3.org/TR/SVGTiny12/text.html#TSpanElement) x and y positioning, and a lot of other features.

Can't we use some other library which supports full SVG? Maybe someone wants to fork?

Or maybe there could be some setting or something that calls Inkscape or ImageMagick via command line to render the file, if

[2018-08-02 10:01] ionum commented on #5
@maphew, cairo library https://cairographics.org/ would be a better choice ....

[2018-08-02 10:04] ionum commented on #4
This seems to be a Qt-Bug too (no Tiny-spec restriction) . Feel free to report it as i did :-)

[2018-08-14 05:02] jcklpe opened #6 "Installed and did not work."
I installed it, and then ran the kill explorer and delete thumbdbs and then restarted explorer and nada.

[2018-08-14 22:50] #6 closed, assigned to nobody

[2018-08-21 09:57] ionum commented on #3
QT-bug is fixed (merge into 5.1 tree). See https://bugreports.qt.io/browse/QTBUG-69694

@maphew: Do you link againts qt 5.1?

[2018-08-21 21:27] maphew opened #7 "Project Maintainer(s) wanted"
I imported the svg-explorer-extension from CodePlex posted here to GitHub because I use the extension and I didn't want to lose access to it when CodePlex shut down in 2017.

I'm primarily a python guy and am ill equipped to maintaining this project. So if you know C++ and have some time to spare, please feel free to take over! In the meantime I'm happy to merge pull requests for those who care to

[2018-08-21 21:28] maphew commented on #3
@ionum I imported from CodePlex because I use the extension and I didn't want to lose access to it when CodePlex shut down in 2017. That may have been a mistake since everyone assumes I maintain the repo as well, naturally enough! See #7

[2018-08-27 12:21] liftarn commented on #2
I have noticed that transparent backgrounds gets rendered as black, but you seem to have a different problem.

[2018-08-30 15:55] MichielBlotwijk commented on #7
I'm neither a python nor a C++ guy, so I can't help you here. I just wanted to express my gratitude for the work you've already done. It works flawless on my Win10-64 machines. Thanks!

[2018-09-28 12:19] roose commented on #2
It's because fill/stroke colors given by style not inline fill/stroke, by the way Figma can export it correctly

[2018-12-03 21:58] aplato commented on #2
I had that problem as well. Fixed it by adding a [type] attribute with value of 'text/css'.

[2018-12-04 18:53] PhilippSPOTTERON commented on #2
where did you add this?

[2018-12-04 18:59] aplato commented on #2
In the svg, I added the **type="text/css"**. Inkscape which i had used to generate the file omitted it.

[code]

[2018-12-10 09:39] thiemeljiri opened #8 "Windows 10 Explorer doesn't autorefresh after creating/deleting a file/folder"
Hi,
I've just installed this app on my Windows 10 64-bit and I'm having the following issue. My Explorer doesn't autorefresh after creating/deleting a file/folder. I've tried several things. Uninstalling the app and event this https://answers.microsoft.com/en-us/windows/forum/windows_10-files/win-10-64-bit-file-explorer-auto-refresh/703492e6-dffb-4344-9699-7e41b2c4ddee?auth=1 But nothing helped. I

[2018-12-10 20:40] maphew commented on #8
Perhaps try **Revo Uninstaller** in it's "monitor" mode. This would require installing svg-explorer-extension again so it can watch what it touches and then later remove it. Oh, I just read monitor mode is a Pro feature. There are other uninstaller apps too. I've usd **Bulk Crap Uninstaller** before to good effect.

* https://www.revouninstaller.com/
* https://www.bcuninstaller.com/

[2018-12-28 16:04] glachancecmaisonneuve commented on #8
[code]

[2018-12-28 17:26] thiemeljiri commented on #8
Hi,
thank you for your replies. It may be very useful when someone has similar problem as me.

In the end, the problem wasn't probably the installation of this extension, but probably some bug on Mixrosoft's side. As I updated my Windows 10 copy before actually proceding to the steps above and it started working again.

Thank you wery much. Your app is really useful! Pity Windows can't handle SVG

[2018-12-28 17:35] thiemeljiri commented on #2
Hi,
I'm working on Windows 10 64bit and I've noticed that transparent background in SVG gets rendered as black. That's a problem as many SVGs are black and transparent, e.g. icons. I strongly believe that there are lots of us working mainly with icons which are black and transparent and fixing this issue would really make a lot of the users much happier.

How about render the SVG on gray and white

[2019-01-09 00:37] Daniel-Beardsmore opened #9 "SVGZ is not supported"
(Nothing else to say here)

[2019-01-09 01:05] Daniel-Beardsmore commented on #9
GitHub seems content to wait forever for my fork. I tried giving it a spoon instead, but it seems there is no spoon.

In Main.cpp, take this line:

{HKEY_CLASSES_ROOT, L".SVG\\shellex\\{E357FCCD-A995-4576-B01F-234630154E96}", NULL, REG_SZ, (DWORD_PTR)szCLSID_SampleThumbnailProvider}

Duplicate that and change .SVG to .SVGZ.

I just tested a manual Registry edit and SVGZ is read correctly.

[2019-01-25 00:51] maphew commented on #9
Thanks! I didn't notice the associated PR or I would have merged right away.

[2019-01-25 00:51] #9 closed, assigned to nobody

[2019-01-25 13:42] neoteknic commented on #2
type="text/css" is working, so can you fix this bug ( style with no type <style> = defaut to type=text/css). I think that it's easy to fix

[2019-01-25 22:42] goldriver2 opened #11 "SVG explorer 011 not working windows 64 pro"
Hi

Just installed the 64 version of the SVG explorer extension and it is not working, I still have the IE icon on a svg file.

here is what I have done so far
- tried the "change open with"
- tried killing explorer, remove all icon and thumbail .db, reboot
- tried the Disk cleanup

nothing get the explorer to display any SVG thumbnail

[2019-01-25 22:55] goldriver2 commented on #11
This seems related to the onedrive issue, I copied my images in a directory not sync in OneDrive and there I can see the images

[2019-01-25 22:55] #11 closed, assigned to nobody

[2019-02-03 07:37] ghost opened #12 "File explorer preview not working in certain view modes"
This report is basically a copy and paste from my superuser forum question [here](https://superuser.com/questions/1401509/how-to-enable-svg-preview-in-file-explorer)

My Windows version is Windows 10 Home (more specifically, update 1809). My computer is x64 system, so I used that version. After installing the extension, I changed the default app, as suggested [here](https://superuser.com/questions

[2019-02-27 09:57] sandras74 opened #13 "Not working with Windows 10 19H1"
Hi,

I have installed the new Insider image and the extension doesn't work with the new version of Windows.

Bye,
Sandras74

[2019-03-05 08:57] skydive69 opened #14 "The preview in the image import dialog in Office (PowerPoint) only works after the images have been displayed as a preview in Windows Explorer"
**The preview in the image import dialog in PowerPoint only works after the images have been displayed as a preview in Windows Explorer.**

The error is reproducible on all our PCs. Only after the preview has been displayed once in Windows Explorer (no matter if large symbols or very large symbols ...) does the preview also work in the Insert image dialog under Office. Otherwise only a symbol imag

[2019-04-16 08:21] bvandenbon opened #15 "Feature Request: checked background for transparent SVG."
Thank you for this great project !
Can't thank you guys enough.

Just one thing, that would be convenient to add.

I have a lot of SVG files with white lines in it. That's basically, because these SVG files are used on websites with dark backgrounds.

![afbeelding](https://user-images.githubusercontent.com/20482760/56193270-8a824280-6030-11e9-9acc-710c8a0e30c2.png)

The preview isn't really useful

[2019-04-16 11:11] Ares9323 commented on #15
If you're using windows 10 activate the dark mode! Not the best solution but it works fine for both black and white
![image](https://user-images.githubusercontent.com/46932745/56205115-2f107e80-6049-11e9-86e2-5ccc284575a3.png)

[2019-05-30 11:32] borisovmi commented on #2
I have the same problem after renaming the file

[2019-06-05 10:38] svenfab commented on #15
Well see, I was up to the same request but it's the opposite for me. I do use dark mode but have a lot of black SVGs. As per Ares9323's example, those are very hard to see as well. A gray checkered background would be a neat solution. Alternatively it might be helpful to give the user the option to use a custom color that is then rendered as a background for all transparent SVGs.

[2019-06-11 07:04] marcnewton commented on #13
I don't know what 19H1 is...
Anyway I confirm this is not working with Win 10.0.**17763** Pro x64,
Logged in as user with administrator privileges.

I cleared the thumbnail cache after installing and watched it regenerate Explorer Icons again instead of the expected thumbnails.

[2019-06-11 07:46] sandras74 commented on #13
The 19H1 was a Windows Insider version, today it is the actual version of the 10.
The SVG-explorer-extension is working with the actual Windows but not works with the OneDrive folders.

[2019-06-12 07:34] marcnewton commented on #13
I solved my issue, It's so stupid!

On a fresh install of Windows 10 since last year `Always show icons, never thumbnails` is checked by default in Explorer's **Folder Options** in certain folders.

Uncheck the box and taadaaaa.....

For some reason this was checked in my **Pictures** folder.

![Annotation 2019-06-12 083035](https://user-images.githubusercontent.com/30183052/59331883-e5f94580-8cec

[2019-06-17 04:57] UweKeim commented on #13
For me, the SVG images are not shown anymore since month, too.

---------

**Update:** After refreshing the icon cache as described in the readme, it works again, even with latest Windows 10 release:

[code]

[2019-06-24 08:13] sandras74 commented on #13
In my Windows (18922) the 'Always show icons, never thumbnails' option unchecked by default but doesn't work.

[2019-07-24 10:46] ghost opened #16 "Text with line breaks does not preview correctly"
The SVG preview does not include line breaks meaning that characters vanish off the side of the preview.

[2019-08-06 07:16] wrapper commented on #13
Not working in Windows 17763

[2019-08-06 11:45] sandras74 commented on #13
Works on the latest Insider fast ring release

[2019-08-29 11:29] JLChamberlain opened #17 "Background No Longer Transparent but Black"
No longer is the transparency of the SVG in the preview! The transparency is replaced with a black background which makes any black SVG's fully unviewable in explorer. The SVG needs to display like how a png would in explorer (keep the transparent part of the image transparent)

[2019-08-29 20:11] maphew opened #18 "Build environment"
_This an is incredibly popular project considering it has no maintainer and no developers. I've decided to see if I can learn "just enough" c++ to build what's here (create a binary release). This issue will summarize the successes on the way to that goal, if any._

## Setting up the build environment.
Warning: it's many GB.

- QtCreator -  `choco install qtcreator`
  - Qt SDK - _MSVC 2017 64-bit_

[2019-09-02 11:34] cmgharris commented on #1
Same problem, Windows 10 x64.
In a folder within OneDrive, the thumbnails don't work. But if I copy the folder to a location outside OneDrive, it works fine.
Interestingly, when copying a new svg into the OneDrive folder, it works, and I see the image thumbnail, as long as the OneDrive status icon is showing 'still syncing' (blue circular arrows). As soon as it's synced (green tick) it reverts bac

[2019-09-02 15:14] digitalchet commented on #1
OneDrive users, If you haven't already done so, make sure you go into **Settings** and disable the **Save space and download files as you use them** option.
I had the issue where the thumbs would not show and the IE icon would show in their place, but once I disabled that option and refreshed the folder, my files and their thumbnails returned. With some files however, I've had to edit and save the

[2019-09-02 15:44] cmgharris commented on #1
thanks digitalchet, this has resolved my issue :o)

[2019-09-02 19:32] azboul commented on #17
Same here. I've installed _dssee_setup_x64_v011_signed.exe_ on my Windows 10 laptop.

[2019-09-04 15:41] maphew commented on #18
`toAscii()` has been deprecated in newer versions of Qt. `toLatin1()` is the suggested replacement, but I see `toUtf8()` also and decided to use that instead. Going to unicode just seems more future proof.

`toWinHBITMAP` doesn't have as clear a drop-in replacement, but there is https://stackoverflow.com/a/50236645/14420, "It was moved into the QtWin namespace.". Track this err in #19.

`Alpha` -

[2019-09-04 15:45] maphew opened #19 "compiler error: no member named 'toWinHBITMAP' in 'QPixmap'"
`toWinHBITMAP` doesn't have a clear drop-in replacement, but there is https://stackoverflow.com/a/50236645/14420, "It was moved into the QtWin namespace."

[2019-09-04 15:45] maphew opened #20 "compiler error: no member named 'Alpha' in 'QPixmap'"

[2019-09-09 20:52] maphew commented on #19
_baby steps._

**Solved**: including the new QtWin module (424cff6). This means adding an `#include <QtWin>` to the .cpp file and adding `QT +=winextras` to the .pro project file. Unless **both** of these are in place inlcude yields a "file not found" error.

Now trying to figure out how to convert `*phbmp = QPixmap::fromImage(*device).toWinHBITMAP(QPixmap::Alpha);` into something that works.

[2019-09-09 21:00] maphew commented on #19
With edb20b6bc50ea59f2888889aff82b6981985ba21 there are no more errors related to bitmap conversion, so closing. However just because the compiler is happy doesn't mean the code is doing the right thing! ;-)

[2019-09-09 21:01] maphew commented on #20
closed with edb20b6bc50ea59f2888889aff82b6981985ba21

[2019-09-09 21:01] #20 closed, assigned to maphew

[2019-09-09 21:02] maphew opened #21 "Build error: machine type 'x86' conflicts with target machine type 'x64'"
`...\build-SVGThumbnailExtension-Desktop_Qt_5_12_3_MSVC2017_64bit-Debug\debug\Main.obj:-1: error: LNK1112: module machine type 'x86' conflicts with target machine type 'x64'`

[2019-09-09 21:19] maphew commented on #21
Message resolved, though I'm not sure which of the following was the clincher:
- use Qt Maintenance tool to remove "Desktop Qt 5.12.3 MSVC2017 32bit" kit (I had both 32 and 64bit installed. The 64bit kit was selected in my project settings but maybe that wasn't enough)
- run _Build >> Clean All_
- _Build >> Run qmake_
- _Build >> Rebuild All_

Sources:
- https://stackoverflow.com/questions/1201422

[2019-09-09 21:19] #21 closed, assigned to nobody

[2019-09-09 21:20] maphew commented on #18
_2019-08-29_
After much trial and error setting up the build env I've gotten the project down to just 1 warning and 4 errors. The first several attempts listed thousands, so there's hope!

#### Warnings
    ThumbnailProvider.cpp(62): warning C4100: 'grfMode': unreferenced formal parameter

#### Errors
[code]

[2019-09-09 21:25] maphew commented on #18
**All compiler errors are gone!** (#19, #20, #21). I think this means the build environment has been resolved. Next up is to figure out how to test and install the results

[2019-09-09 21:25] #18 closed, assigned to maphew

[2019-09-09 21:42] maphew opened #22 "Figure out how to test and install build results"
_Now that the build environment appears to be resolved (#18). Next up is to figure out how to test and install the results._

For testing it might be enough to grab the .dll's in https://github.com/maphew/svg-explorer-extension/tree/master/build-SVGThumbnailExtension-Desktop_Qt_5_12_3_MSVC2017_64bit-Debug/debug and replace the same wherever the same exist on a system that has a [previous release](

[2019-09-10 23:27] maphew commented on #22
On the testing front:

I added 2 svg files to `.\test\art`. One is a text svg file the other gzip compressed (.svgz). On my machine only .svg shows a preview:

![image](https://user-images.githubusercontent.com/486200/64657360-de2e6780-d3e7-11e9-809e-19a39f70f6f5.png)

No preview for .svgz is fine, because that was only added a while ago and isn't in the latest release. However now I have a quanda

[2019-09-10 23:32] drewnoakes commented on #22
Can you make your development builds write something into the preview image? Perhaps the build time/hash.

[2019-09-11 15:45] maphew commented on #22
Good idea @drewnoakes. I've no idea how to accomplish that though. On the other hand, 2 weeks ago I had no idea how to build binaries at all so maybe I can figure it out ;-)

[2019-09-11 21:10] GitMensch opened #27 "create installer"
It would be best if we can get the CI build to create it (would also fix #22).

To create the installer the following things would be needed:

# Option 1
Get rid of the install shield scripts and start a new installer based on WiX or Inno or NSIS. Seems to be more work than option 2 but also seems to be better prepared for the future.

# Option 2
Stay using proprietary InstallShield (either someon

[2019-09-12 04:39] maphew opened #28 "Continuous Integration for auto tests and builds"
Set up CI to run automatic tests on the code and, if all goes well, also build binaries for release and distribution. I'm not set on GitHub Actions vs Travis CI vs {whatever}; just trying what's close at hand first.

The 'test' in subject refers to "does the code compile" testing, not "does the extension actually work" testing in #22.

_I treat this first comment as wiki page, updating periodicall

[2019-09-12 04:42] maphew commented on #27
I'm in agreement with the principle of using CI for builds. See #28 for the meagre progress on so far. As for option opnions, I tend to favour right over expedient. That said I give greatest weight to whomever is in the middle actually doing the work over my preferences.

[2019-09-12 14:15] GitMensch commented on #27
I think I'll give this a try in some weeks (trying wix-only, if it doesn't work out then wix, wrapping inno-setup). You may ping me about this if you miss a response.

[2019-09-12 15:58] maphew commented on #27
Great, thanks Simon. I really appreciate your interest and contributions. FYI, a colleague pointed me to https://build-system.fman.io/ recently. It promises to simplify many things; no idea about the follow through.

[2019-09-12 16:32] maphew commented on #28
See [Actions] tab and [`actions`](https://github.com/maphew/svg-explorer-extension/commits/actions) branch for the meagre progress on so far. I haven't found the right [Windows yaml path syntax](https://github.community/t5/GitHub-Actions/Windows-syntax-for-Run-path-with-spaces).

Progress has been made. Key things:

Use `run: |` instead of just `run: {my cmd string}`. Each line after pipe is writt

[2019-09-12 18:50] maphew commented on #28
Build command from QtCreator's "compile output" window
[code]

[2019-09-12 20:59] maphew commented on #28
[Feature request: Pre-installed Qt on Windows](https://github.community/t5/GitHub-Actions/Feature-request-Pre-installed-Qt-on-Windows/)

[travis: initial Windows support with non-interactive Qt installer](https://salsa.debian.org/debian/wireshark/commit/5ed8360c21ccc5c26ca47eb59b175634415ae11f) - might be able to use their command lines:

    curl -vLo qt-unified-windows-x86-online.exe http://down

[2019-09-14 04:31] maphew commented on #28
_Finally_ got the right incantation to install Qt headless (2e0bff94 - wait 2 instead 1 second for button push). Bloody stupid that Qt doesn't have a blessed headless install recipe. A million thanks to @benlau!

Unfortunately there's still a problem:

`[181859] Created warning message box "installationErrorWithRetry": "Installer Error", "Error during installation process (qt.tools.vcredist_64):\n

[2019-09-14 05:03] maphew commented on #28
A CI log error indicates there's a dialog `PerformInstallationPageCallback` in `qt-installer-windows.qs` which isn't accounted for:

[code]
-- https://github.com/maphew/svg-explorer-extension/commit/ebb15e4825013dd43668114f08b1b524a691bf6e/checks#step:3:4722

I doubt it's related to the vc redist error.

[2019-09-14 05:05] maphew commented on #28
This SO question indicates we might be able to slap [ignore] and keep going. I dunno how tho
https://stackoverflow.com/questions/21075705/qt-sdk-installation-errors-on-windows-7

[2019-09-17 20:45] maphew commented on #28
It only took one hour for me to get Appveyor working, so +1 for Appveyor, -1 for GH Actions. (Though to be fair, I took the learning from troubleshooting Actions and applied it to Appveyor.)

https://ci.appveyor.com/project/maphew/svg-explorer-extension/history

Magic build incantation:
[code]
with help from:

Followed by a round of `pushd C:\Program Files (x86)\Microsoft Visual Studio\2017 && dir

[2019-09-17 20:58] maphew commented on #27
I managed to get Appveyor build working! See #28. Hopefully this can be leveraged for your work @GitMensch .

[2019-10-24 02:14] raffertyuy commented on #1
Wow, after some time of reinstalling this tool - it is actually this issue! Thanks!

[2019-10-24 22:20] maphew commented on #1
@digitalchet thanks for finding a solution. I added it to the opening post. @cmgharris and @raffertyuy, thanks for verifying.

Closing the issue as the problem and solution happen outside the extension's purview, and is now documented.

[2019-10-24 22:20] #1 closed, assigned to nobody

[2019-12-03 05:53] Akababa opened #29 "Certificate revoked"
![image](https://user-images.githubusercontent.com/4205182/70024069-4912b900-1567-11ea-94c3-e8bb19b50a88.png)

It's blocked by windows UAC -- is this still safe?

[2019-12-03 05:57] Akababa commented on #29
Unsigned version from https://code.google.com/archive/p/svg-explorer-extension/downloads works fine.

[2019-12-03 23:02] maphew commented on #29
thanks @Akababa. I added the unsigned binary install programs to the Github releases: https://github.com/maphew/svg-explorer-extension/releases/tag/v0.1.1

[2019-12-03 23:12] maphew commented on #29
Closing this, though resolving #27 and/or #28 will be the real fix (generating new install binaries from current code base).

[2019-12-03 23:12] #29 closed, assigned to nobody

[2019-12-13 22:57] maphew opened #30 "appveyor build fails"
`qmake.exe` is not not found. Probably because Qt version has changed and PATHs are hardcoded.

https://ci.appveyor.com/project/maphew/svg-explorer-extension/builds/29292640

[2019-12-13 23:10] maphew commented on #30
Success!
[code]

2 changes were needed:
- `PATH=C:\Qt\5.13` (reference: https://www.appveyor.com/docs/windows-images-software/#qt)
- and using back- instead of fore-slash for `pushd`.

Edit panel: https://ci.appveyor.com/project/maphew/svg-explorer-extension/settings/build

[2019-12-13 23:10] #30 closed, assigned to nobody

[2019-12-23 09:38] MiroslavVanicky commented on #17
Same for me.

[2019-12-23 19:35] maphew commented on #2
Closing, as is this is fixed in #32. Please note this means that the _code_ is fixed. It will still be an indefinite time until the installer is updated to include the fix (because I haven't learned how yet).

[2019-12-23 19:35] #2 closed, assigned to nobody

[2019-12-23 19:36] maphew commented on #17
Closing, as is this is fixed in #32. Please note this means that the _code_ is fixed. It will still be an indefinite time until the installer is updated to include the fix (because I haven't learned how yet).

[2019-12-23 19:37] #17 closed, assigned to nobody

[2019-12-23 19:39] maphew commented on #13
Closing as it sounds like newer Insider releases are okay. (You can always re-open if this isn't the case).

[2019-12-23 19:39] #13 closed, assigned to nobody

[2019-12-24 19:44] maphew commented on #27
suggestion from @voodoo66 https://github.com/maphew/svg-explorer-extension/pull/32#issuecomment-568574714

[2019-12-24 19:58] maphew commented on #27
I added `pushd "C:\projects\svg-explorer-extension\SVGThumbnailExtension" &&
"C:\Program Files (x86)\Inno Setup 5\ISCC.exe" SVGThumbnailExtension_x64.iss` to [build settings](https://ci.appveyor.com/project/maphew/svg-explorer-extension/settings)\*

It works until encountering a missing file referenced in .iss, but that's okay, this is progress!
https://ci.appveyor.com/project/maphew/svg-explorer-

[2019-12-24 21:30] maphew commented on #27
Thanks to @voodoo66 we have a working installer builds in Appveyor:

Next up is to enable pushing to Github Releases

[2019-12-27 01:17] maphew commented on #27
Appveyor is now automatically both building and pushing binaries to GitHub releases. There's still some fine tuning to do so that only certain tags are promoted to releases instead of every single commit, but the hard part is done. **Thank you @voodoo66!**

[2019-12-27 01:17] #27 closed, assigned to nobody

[2019-12-27 01:18] maphew commented on #28
closed with successful implementation of #27

[2019-12-27 03:57] maphew opened #35 "Development builds write datestamp or commit hash into the preview image"
It would be good to know with clarity what version of the extension is actually in use. Spawned from  @drewnoakes in https://github.com/maphew/svg-explorer-extension/issues/22#issuecomment-530159260.

[2019-12-27 04:00] maphew commented on #22
Closing. Now that an automatic route to installer is working (#27) testing is a matter of installing new version.

[2019-12-27 04:00] #22 closed, assigned to maphew

[2019-12-27 04:05] maphew commented on #7
Good news on the maintainer front: Thanks to efforts by David P. I've made contact with original project author @tibold! He has spare time now and is interested in picking up SVG Extension again. I'll be reading up on how to transfer the project to him and keep all the issues etc. intact.

[2019-12-27 04:18] maphew opened #36 "Installer: failed to start because no Qt platform plugin could be initialized"
When running the 64 bit installer for [maphew appveyor dev release](https://ci.appveyor.com/project/maphew/svg-explorer-extension/build/artifacts) (fake v1.0.30) at the end **regsvr32** reports _"This application failed to start because no Qt platform plugin could be initialized. Reinstalling the application may fix this problem."_

Followed by:

Win10 Enterprise 1803 build 17134.1130

[2019-12-27 04:38] maphew opened #37 "Document appveyor build settings"
The way I've set this up, the Appveyor continuous integration system settings are not stored in the source code repo. The [docs state](https://www.appveyor.com/docs/build-configuration/#configuring-build) that one can use _either_ the web UI or an `appveyor.yml` file in the repo. Also some UI settings are just not available in the .yml file. For the present at least we'll stick with the UI approac

[2019-12-27 05:38] tibold commented on #7
Hey @maphew,
Thanks for keeping the project alive. :) For while I was under the impression that Windows 10 was finally able to render SVG thumbnail on it's own. Recently I started using logos again and was really surprised when the IE icons showed up. :D

Now I just need to hunt down where did I get the free open source code signing certificate.

BTW the transfer option is under Settings/Danger Zo

[2019-12-27 13:56] GitMensch commented on #35
I think as soon as this is done it should be possible to switch this (best via an ini file, otherwise registry) - the default value (=if no value is specified) would either be "no stamp" for all builds or "stamp for automated builds".

[2019-12-27 14:09] GitMensch commented on #37
I suggest to instead use the existing UI-created definition and include it in the repository instead: Settings->Export YAML; Download; then commit to the repo. Adjusting the file should then also allow to only push to GH if its tagged (or pushed to a release branch).

[2019-12-27 14:15] GitMensch commented on #37
... this way you also could integrate the build-appveyor.cmd easily into the yaml.

[2019-12-27 17:49] GitMensch opened #39 "wrong qt include paths?"
I try to compile this extension with an old QT version and it seems some paths are not setup correct (some of the includes use sub-paths, others not).

While I'm still in the process to check if this actually works out or not, these are the current changes needed - are those fine to be done in general or should there be an ifdef guard around this?

[code]

When this is clear I'll finish my changes

[2019-12-27 17:52] GitMensch commented on #19
... actually this breaks the compilation with old QT versions, I'll PR a check with `#if QT_VERSION >= 0x050200` to use either the old or the new code (and the include).

[2019-12-27 18:18] GitMensch commented on #39
Just checked the CI output which shows the includes `I..\..\..\Qt\5.13.2\msvc2017_64\include -I..\..\..\Qt\5.13.2\msvc2017_64\include\QtSvg -I..\..\..\Qt\5.13.2\msvc2017_64\include\QtWidgets -I..\..\..\Qt\5.13.2\msvc2017_64\include\QtWinExtras -I..\..\..\Qt\5.13.2\msvc2017_64\include\QtGui -I..\..\..\Qt\5.13.2\msvc2017_64\include\QtANGLE -I..\..\..\Qt\5.13.2\msvc2017_64\include\QtCore -Irelease -I

[2019-12-27 18:24] tibold commented on #39
Are you upgrading to the latest version of Qt? :)

[2019-12-27 18:39] GitMensch commented on #39
No, I'm actually downgrading to qt4.

[2019-12-27 18:42] maphew commented on #19
that would be great, thank you

[2019-12-27 18:45] tibold commented on #39
Oh? Any particular reason you need qt4? Just curios

[2019-12-27 18:58] GitMensch commented on #39
I don't need QT4, just don't want to download GB without any need (especially if I seem to only get it via "online installer" [I just need the headers and libraries and did not found a direct way to download a newer version, the latest offline installer I've found was a mirror from nokia's old dev site - and this offline installer is also what was used years ago to get my qt setup]

[2019-12-27 18:59] #37 closed, assigned to maphew

[2019-12-27 19:02] maphew commented on #37
Done. I didn't know about the export route. That's much faster (for me) than trying to write correct yaml by hand. (It took me hours to get it right for Travis-ci on a different project.)

Appveyor is now set to only deploy to Github from *release* branch (which isn't created yet).

[2019-12-27 19:04] GitMensch commented on #37
Both sounds good.
Note: I suggest to replace the version number to 0.9.{build} (with or without resetting the build number) to save "1.0" for the upcoming release.

[2019-12-27 19:29] #19 closed, assigned to maphew

[2019-12-27 19:33] #39 closed, assigned to nobody

[2019-12-27 19:45] maphew opened #42 "switch `maphew` refs to `tibold`"
Scattered throughout there are paths and other references to `maphew/svg-explorer-extension` that will need to be converted to `tibold/svg-explorer-extension` once #7 is complete. This is a collector issue for those references (e.g. treat opening comment as a wiki)

- [x] `Readme.md` - installer locations; CI build status
- [x] `appveyor.yml` - auth token
- [x] `.all-contributorsrc`
- [x] `SVGThum

[2019-12-27 20:09] maphew opened #43 "Trend Micro reports Appveyor installer as "potential ransomware""
Trend Micro reports the appveyor install .exe's are "potential ransomware".
After pressing [Allow Once] the programs runs as normal (notwithstanding error #36).

Microsoft Windows 10 Enterprise
Version	10.0.18362 Build 18362
Trend Micro 11.000.1006

![image](https://user-images.githubusercontent.com/486200/71530885-09f33180-28a1-11ea-8f63-a3da4ef00552.png)

![image](https://user-images.githubuserc

[2019-12-27 20:16] maphew commented on #7
Ok, transfer initiated, and I've done all the work I can think of to make the process easier; mainly putting the Appveyor settings into the code repo. I'll stop changing things now! future changes will be with PR. There'll be some post move clean up (#42).

[2019-12-27 20:53] maphew commented on #36
After running install program and choosing [ignore], browsing to a folder with .svg files in it, the "failed to start" error dialog reappears, and naturally there are no previews:

![image](https://user-images.githubusercontent.com/486200/71531543-03b28480-28a4-11ea-962d-7fe70106f057.png)

This is a different machine from the opening post, and using an installer from today.

[2019-12-27 20:59] GitMensch commented on #28
I suggest to reopen this and revisit at least the Actions.
Using [msvc-dev-cmd](https://github.com/marketplace/actions/enable-developer-command-prompt) we have it directly setup.
Using [install-qt](https://github.com/marketplace/actions/install-qt) we can easily use _multiple and/or different_ versions  to build against, (since qt5 aka 5.2.1) including *most current* version of QT (as it uses the

[2019-12-27 21:04] GitMensch commented on #3
As the binaries on Appveyor already use a newer QT version - is there anything else to do here than creating an official release from it (after fixing #36 the 64bit installer) to "fix" this bug from this repo's side?

[2019-12-27 21:07] GitMensch opened #44 "Is it possible to drop QT-dependency?"
This issue is primarily intended as a real question - is there anything else QT is used for than the actual SVG->"preview" part? Can this be done with a more lightweight dependency, too?

I *guess* the "os-portable" part of QT is completely irrelevant for this "Windows Explorer" plugin, isn't it?

[2019-12-27 21:23] maphew commented on #28
I whole-heartedly agree with opening sentence, _"Installing Qt on Github Actions workflows manually is the worst."_ for the install-qt description. If this packaged action fixes that experience I'm all for it. In the testing I was doing GH Actions was noticeably slower than Appveyor. That may well be because of my approach of course; I'm prepared to be wrong!

I will delay trying anything new here

[2019-12-27 21:27] maphew commented on #3
If the svg example in OP renders properly post #36 then yes I would call this issue closed.

[2019-12-27 21:48] GitMensch commented on #42
Another thing for the README: actually update its content (possibly adjusting the history session, adding maphew to the contributors, ...) :-)

[2019-12-27 23:08] tibold commented on #43
I had similar reports with the original release. Back then I have submitted the signed installer (before the signature expired) to the companies for review, but never heard back anything.
Not sure what they don't like in the code.

[2019-12-27 23:10] tibold commented on #36
This is a Qt thing. Some platform code is implemented in plugins. These have to be shipped with the installer and QCoreApplication has to be able to find them.
Once I got my dev environment running it should be simply to identify what doesn't like.

[2019-12-27 23:13] tibold commented on #44
Yes. The only reason Qt is part of this is because when the library was originally written I was working on a desktop app written in Qr 4.x and I had difficulties getting librsvg running. :) With Qt I had up to date experience to render SVGs. Also the previews I needed to see how the SVGs would be rendered in a Qt based app since I was approving SVG icons for a Qt app.

If we can find working samp

[2019-12-27 23:21] tibold commented on #28
I need to get my dev environment rolling before I can get on the CI pipeline.
If GitHub Actions can work that would be the best.
I have experience with Atlassian Bamboo (don't really want to use it again :D) and YAML based Azure DevOps.

[2019-12-27 23:29] tibold commented on #7
Thanks fore reaching out to me. It just happened that I left the corporate world behind me a few months ago and now working in a small growing business that gives me free time to work on side projects.
I have accepted the transfer.
Next order of business is to get a VM to develop in and code signing certificate. :)

[2019-12-27 23:29] #7 closed, assigned to nobody

[2019-12-27 23:50] tibold commented on #28
Took a quick look at what AppVeyor offers. It looks like a rather promising choice, and since that's working already, I think we can keep using it.

[2019-12-28 01:27] maphew commented on #43
I'll try asking through our corporate subscription. That might be high enough on the food chain that they will be compelled to answer.

[2019-12-28 18:47] maphew commented on #28
Appveyor is tied to the developer account. I think all that's needed is to visit https://github.com/marketplace/appveyor and turn it on for @tibold, and then change the auth token in `appveyor.yml`. I'm not sure where you find the token though.

[2019-12-28 19:08] GitMensch commented on #28
The API key can be found (after login) at https://ci.appveyor.com/api-keys.
The GH Actions are tighter bound to the repository but it looks like they currently don't work well with forks good (with Appveyor it is just a fork + inclusion in own Appveyor and it runs as it does on the main repo  before the PR (with the exception of push to GH, which is normally not wanted in any case).

[2019-12-29 16:56] tibold commented on #36
#45 should fix this issue.
Check in `Initialize` method in `Main.cpp`.

[2019-12-29 16:59] tibold commented on #3
#45 fixes this issue.

![image](https://user-images.githubusercontent.com/1974659/71560038-fabce100-2a64-11ea-8b77-75e47d946179.png)

[2019-12-29 16:59] #3 closed, assigned to nobody

[2019-12-29 17:01] tibold commented on #5
@ionum, do you have some samples how to render SVGs using cairo?

[2019-12-29 17:11] tibold commented on #8
Hey @thiemeljiri ,
Try the `Feedback Hub` app. I am surprised myself too that this is not a built-in feature. :)

I am closing this issue since the problem seems resolved and old.

[2019-12-29 17:11] #8 closed, assigned to nobody

[2019-12-29 17:21] tibold commented on #12
This seems to be the expected behavior. The view settings mentioned only uses icons.

This is consistent with how image thumbnail are displayed in Windows. If you open a folder with images and set the view settings to any of the mentioned ones, only icons are displayed.

I am closing this now, but if you do find any inconsistencies between how regular images thumbnails and svg thumbnails are displ

[2019-12-29 17:21] #12 closed, assigned to nobody

[2019-12-29 17:25] tibold commented on #15
This is a tricky one, but the issue is in Windows. If you export that SVG into a PNG with transparent background, you end up with the same issue.
I do like the consistency of it, but maybe we can add a setting somewhere, the toggle the checkered background and/or user specified colors?

[2019-12-29 17:26] tibold commented on #14
@skydive69 , can you reproduce it with any other app than Office?
I don't have office on my dev machine to test with. :)

[2019-12-29 17:26] tibold commented on #16
@corfeur12 , could please provide a sample SVG?

[2019-12-29 17:40] GitMensch commented on #7
@tibold I like the new README. Note: The contributors part seems a bit strange (both you and maphew are missing and the counter _may_ be wrong). _Possibly_ the qt (as "Qt's contributors") and Jeremy entries under thanks can be included there instead of their own paragraph, too.

[2019-12-29 17:50] tibold commented on #7
Thanks @GitMensch ,
and thanks for @maphew for writing the history.

I'll read up the all-contributors spec how it works and update it, I saw there is a bot and I got that installed to this repo now.

FYI the project actually started in 2012 on google code: https://code.google.com/archive/p/svg-explorer-extension/ but for reasons I don't remember anymore, I have migrated the project to CodePlex. M

[2019-12-29 17:55] tibold commented on #43
Thanks @maphew ,

The reason in the first dialog suggest that it would mark every newly encountered program as a potential ransomware. :) I mean I do understand and like zero trust computing. XD

Maybe the code signing will help with this as well.

[2019-12-29 19:20] maphew commented on #7
I adjusted Readme in _develop_ branch as per above. Now let's test all-cotnributors:

@all-contributors please add @tibold for ideas and code, @maphew for maintenance, @GitMensch for docs and code

[2019-12-29 19:34] GitMensch commented on #7
Looks like [the bot only takes on contributor per line](https://allcontributors.org/docs/en/bot/usage) and ignores everything "unknown" (like additional entries = the user names). The tibold entry is correct nonetheless :-) Just to check who is allowed to do so:

@all-contributors please add @maphew for maintenance
@all-contributors please add @GitMensch for docs and code

[2019-12-29 19:36] GitMensch commented on #7
@all-contributors please add @maphew for maintenance

[2019-12-29 19:37] GitMensch commented on #7
@all-contributors please add @GitMensch for docs and code

[2019-12-29 19:40] GitMensch commented on #7
Looks like it parses an issue post and handles only one addition/change per issue.
I just was curious; sorry for polluting this issue.

[2019-12-30 00:31] maphew commented on #7
I was curious too, so if it wasn't you it would have been me being noisy.

[2020-01-01 00:02] maphew opened #49 "Shorter project name?"
_'SVG Explorer Extension'_ is rather long to say and type. What about _see-svg_ or _svg-see_ instead?

The 2nd embeds a nice recursion. ;-)

[2020-01-01 22:39] drewnoakes commented on #49
svg-see is nice. Do you have analytics that shows what people search for to find this extension? I would guess a lot of people are looking for "svg thumbnail", but cold hard data would be interesting.

[2020-01-01 23:01] tibold commented on #49
I was also playing with the thought of changing the name.

Please also consider that I am planning to extend the current functionality with the following:
* [Property handlers](https://docs.microsoft.com/en-us/windows/win32/search/-search-3x-wds-extidx-propertyhandlers?redirectedfrom=MSDN)
* Simple viewer with rendering capabilities, eg. render single file or folder into png/jpeg etc.
* Maybe simp

[2020-01-01 23:28] maphew commented on #36
Getting this message still with the real v1.0 release. After the regsvr32 Qt plugin error there's a new one, _"Unable to register the DLL/OCX: RegSvr32 failed with exit code 0xC0000409"_. Or rather the message is the same but the appearance of the dialog is different.

Screenshot: https://user-images.githubusercontent.com/486200/71647380-e833e900-2caa-11ea-8662-a2d02a06c51b.png

Trying again just

[2020-01-02 06:41] GitMensch commented on #49
With the additional functions I'd vote for keeping the long name.

[2020-01-02 06:46] GitMensch opened #50 "provide pgp signatures for releases"
It is good to explicit list the hashes for the installers as it is done now (= ensuring that the binary was not tinkered with or got broken afterwards).
It would be even better to provide pgp signed source snapshots and binaries as this *additional* ensures that both were actually released by @tibold (as soon/long as his public key is known).

[2020-01-02 06:47] GitMensch opened #51 "Why did the installer size increased that much?"
0.1.1 = 4.05MB vs. 1.0.0 = 20.4 MB

[2020-01-02 07:11] maphew commented on #51
I think it's because the VC 2017 Runtime is included now.

[2020-01-02 07:23] maphew commented on #49
I'd use a short name even with the added features. The ones mentioned all still revolve around seeing. (Properties, which sounds excellent, stretches it a bit, but not too much.)

I've wondered how people find the project too. I know there's a Super User page referencing it. The favourite tagging sometimes comes in waves, a handful of people in a day or two. I presume these ones are word of mouth

[2020-01-02 08:03] tibold commented on #51
We can do a diff, 7zip should be able extract files from the installers.
I think @maphew got it right, plus we also upgraded from Qt4 to Qt5.

[2020-01-02 08:09] tibold commented on #50
Good idea, especially since I don't have other code signatures.
I'll have to read up on it. I have only used pgp for e-mail encryption before.

[2020-01-02 10:41] GitMensch commented on #51
Yes, I've just seen that the runtime is included - I urge to undo this, *especially* as the installer does a system-reboot without any user-interaction.

[2020-01-02 10:45] tibold commented on #51
I'm not sure if we can remove the vcredist. As far as I know it is a functional dependency which without the DLL cannot be loaded.
It is not supposed to do a system reboot though. I'll check on that.

[2020-01-02 11:03] GitMensch commented on #43
At least the 64bit version is fine [according to VirusTotal](https://www.virustotal.com/gui/file/41ffc71789830720d465576dfdc8ec235f9464eec5c96d72f1a8d215676125a1/detection).

[2020-01-02 11:04] GitMensch commented on #51
Isn't it possible to build (at least on Appveyor) with MinGW? Using so would remove the need for *any* dependency but Qt (I just hope here that they don't need the vcredist).

[2020-01-02 12:25] GitMensch commented on #50
https://www.dewinter.com/gnupg_howto/english/GPGMiniHowto-5.html for the overview, for possible copy & past `gpg --detach-sign --armor -o source.tar.gz.asc source.tar.gz`, for verification https://www.cyberciti.biz/faq/pgp-tarball-file-signature-keys-verification/ has a nice formatted howto.

[2020-01-02 12:51] tibold commented on #50
Thanks, I'll take a look!

[2020-01-03 18:12] ghost commented on #16
Here is an example with a comparison of what the SVG should look like and what the preview displays:

[code]

It is worth noting that this issue seems to still be present with the new 1.0.0 release. If relevant, I am using the x64 version on a 64 bit machine.

![image](https://user-images.githubusercontent.com/20456711/71740066-210ec200-2e53-11ea-8383-a8fc6be32f3e.png)

[2020-01-03 20:20] maphew commented on #51
7zip v19.0 can't open the installer .exe.

[2020-01-03 20:26] maphew commented on #36
I've now installed real v1 on 3 Win10 machines and only this one gives this error. It's a Surface Pro v4, Win10 Enterprise 1803 build 17134.1130.

[2020-01-03 21:19] tibold commented on #36
For the restart I missed the `/norestart` flag on calling vcredist. :/

I am a bit puzzled with the exception. Is that a dev machine by any chance?

[2020-01-04 00:41] maphew commented on #36
Very good to have the restart fixed!

Nope, not a dev machine. Well, not a C++ dev machine. It does have Python, PyQt and some related things, but not QtCreator, Win SDK or anything like that. I'll dig through the installed list and see if something stands out. Anything in particular I should watch for?

[2020-01-04 21:23] raymondlaw opened #58 "[Feature Request] Revert to default SVG Icon for Invalid SVG"
Currently if there's an invalid SVG icon, the preview will display a transparent image with some text (It's a bit hard to read, but I think it says "Invalid SVG File" in red)

![ex](https://user-images.githubusercontent.com/2231426/71771778-c76bcd80-2f0e-11ea-9e80-7a8687b10b5a.PNG)

Windows displays invalid images (jpg, png, webp) using the default file icon, and I was thinking using the default s

[2020-01-04 23:15] tibold commented on #58
Originally this was a debugging feature, but was left there for the release.

I do like to be consistent with the behavior though.

---

Does `webp` files not have thumbnails or is that just an example of an invalid file? :)

[2020-01-04 23:32] tibold commented on #42
Is there any other place that still needs changing?

[2020-01-04 23:35] tibold commented on #28
The AppVeyor builds work now and can produce installers.

For tests, I'll open a separate issue.

[2020-01-04 23:35] #28 closed, assigned to nobody

[2020-01-04 23:38] tibold opened #59 "Support MinGW toolchain"
Add support for MinGW toolchain for building the application.

---

@GitMensch , continuation of #53

[2020-01-05 00:56] raymondlaw commented on #58
That's just an example of an invalid file.  Right after I posted the image, I realized I should've named them `invalid.svg` and `invalid.webp`

[2020-01-05 03:31] tibold commented on #59
Unfortunately this does not work.

* Importing <windows.h> in MinGW throws lots of errors due to some unsupported syntax in the SDK headers.
* Qt 5.x MinGW SDK is 5GB per architecture including the MinGW itself.

---

If someone can supple a working setup for MinGW we can integrate that into the build script, until then I'll just close this issue.

[2020-01-05 03:31] #59 closed, assigned to tibold

[2020-01-05 03:58] tibold commented on #58
Fixed in #61

[2020-01-05 03:58] #58 closed, assigned to tibold

[2020-01-05 07:24] maphew commented on #42
The Appveyor etc. CI references were the only remaining ones I'm aware of, and that's done now, so closing!

[2020-01-05 07:24] #42 closed, assigned to nobody

[2020-01-06 21:12] vmario89 commented on #36
Hi, i have the exact same error message on my computer. running your extension for many years now and updated to 1.0.0. Now this happens for me the first time.

[2020-01-06 22:18] maphew commented on #36
Fixed it! ...but not exactly sure what was the necessary ingredient. I did:

- From _"Add or remove programs"_ uninstalled half a dozen programs I don't use anymore
- Scanned list for anything obviously related to Qt (none)
- Ran CCleaner, used "easy clean" followed by "analyze registry" and applied all recommendations
- Rebooted
   - whereupon Windows also applied an Update I didn't know was pend

[2020-01-06 23:02] tibold commented on #36
@maphew , thanks for investigating it.

I have added quick logging to the registration process so we can catch at which key does the process fail. The code is currently on a bug branch and the builds are available here:
https://ci.appveyor.com/project/tibold/svg-explorer-extension/builds/29933374/artifacts

To view the logs use [DebugView](https://docs.microsoft.com/en-us/sysinternals/downloads/de

[2020-01-06 23:04] tibold commented on #49
FYI, I am playing the `SvgSee` name in #36.

[2020-01-07 03:34] DKStudio commented on #36
I caption this error from DebugView
00000001	0.00000000	[22112] ("C:/Program Files/SVG Explorer Extension/SVGThumbnailExtension.dll\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u000

[2020-01-08 02:28] JoanEliot opened #62 "Please add to readme: how-to-use instructions/results expected after installation"
Such as: "This is an Explorer extension so there's nothing further to do and no application to run. After installation just navigate in File Explorer to a folder that contains SVGs, and you'll see the contents of those files as their thumbnails, rather than generic icons. If you have the Preview pane open, you'll see a bigger thumbnail there." Needs work on the wording but I hope that gives you th

[2020-01-08 21:07] maphew commented on #43
I haven't gotten this warning on any installer built in the last 12 days. In other words:

...this is the last one that triggers the warning (still does today, so it's not a change on Trend Micro's side):
https://ci.appveyor.com/project/maphew/svg-explorer-extension/builds/29780651/artifacts
...and this is the first one that doesn't:
https://ci.appveyor.com/project/tibold/svg-explorer-extension/bu

[2020-01-08 21:07] #43 closed, assigned to nobody

[2020-01-08 22:14] tibold commented on #36
@DKStudio , which installer did you use?

The output looks like it is from the v1.0.0 release. If so could you please try the builds from this link:
https://ci.appveyor.com/project/tibold/svg-explorer-extension/builds/29933374/artifacts

In the builds I linked every log line is prefixed with `SvgSee`, which is missing in this output.

The random character output was a typo that is now also fixed.

[2020-01-08 22:25] tibold commented on #62
You are correct. After the installation the thumbnails and previews should _just_ work. Sometimes it is necessary to force clean the thumbnail cache. There are instructions on the readme how to.

You can also use the Disk Cleanup tool:
![image](https://user-images.githubusercontent.com/1974659/72021195-c5d33a00-326d-11ea-9413-6a8c6327ce10.png)

You are **not** supposed to manually register DLLs.

[2020-01-08 23:57] maphew commented on #62
The readme improvement recommendation is good one.

Also ensure that "Always show icons, never thumbnails" option under _"Explorer: View >> Options"_ is NOT checked.

![image](https://user-images.githubusercontent.com/486200/72026143-550d2d00-322f-11ea-935b-9e633d7fbd52.png)

[2020-01-09 02:10] DKStudio commented on #36
This software version is OK,thinks.

[2020-01-12 22:44] alexysong commented on #36
This version (1.0.19) worked on my win 10. The 1.0.0 release doesn't work, same error message.

[2020-01-13 08:04] tibold commented on #36
Thanks for the feedback!
It seems that everyone's issue got solved, so I'll close this issue.

[2020-01-13 08:04] #36 closed, assigned to nobody

[2020-01-13 08:07] tibold commented on #35
Just for clarity.
What do you mean by development builds?
Builds on CI or builds in DEBUG mode?

[2020-01-13 15:16] GitMensch commented on #35
Both (with an option to disable it via ini/Registry)

[2020-01-13 22:17] yenlui commented on #51
So basically, I've installed it just now and I've to restaure my system because it installed a Troyan
Pretty sure it's the reason of the size ...

[2020-01-13 22:20] tibold commented on #51
@yenlui, What makes you think you got a Trojan?

[2020-01-13 22:27] yenlui commented on #51
13 menaces detected right after installation including some named troyan and others named bitcoin miner

and that the only thing I've installed the last 2 weeks

maybe the vsredist dep you've added is corrupted, else the packager, but it's clearly because of the installation of the tool

[2020-01-13 22:31] tibold commented on #51
Could you verify the hashes for the installers?
Also do you happen to have the reports?

[2020-01-13 22:38] yenlui commented on #51
I don't have hashes right now and I've clean everything as quick as possible, but the link for the download was directly redirected to:
https://github-production-release-asset-2e65be.s3.amazonaws.com/97976246/c3f8fc00-2cec-11ea-8cb0-6fc148307f21?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A/20200113/us-east-1/s3/aws4_request&X-Amz-Date=20200113T213639Z&X-Amz-Expires=300&X-

[2020-01-13 23:52] tibold commented on #51
@yenlui, I double checked the installers and there is no evidence that they would contain any malware.
The hashes are correct, I myself use it on several systems and the VirusTotal report is clean too:
https://www.virustotal.com/gui/file/41ffc71789830720d465576dfdc8ec235f9464eec5c96d72f1a8d215676125a1/detection

Unfortunately there is not a lot I can do here to help you. We have seen anti virus so

[2020-01-14 00:26] yenlui commented on #51
Thanks for the effort, I don't actually need help, everything back to normal after McAfee (which is the one I use) quarantine + W10 restoration point.

Hopes I'm the only one having this kind of trouble, and also sorry for having polluted this thread as it seems it's not the cause of .exe size increase.

I've found another way of previewing SVG (in my vscode, with an add-on) so I think I won't try

[2020-01-14 04:45] GitMensch commented on #51
... and verify what you've downloaded, I've installed the 64 bit version coming from the GH release page and for no troyan.

[2020-01-14 09:26] ionum opened #63 "x86-installer gives "Internal error: Cannot expand 'commonpf64' constant ....""
Installing the x86-installer on win10-32bit gives the following error-msg:

Internal error: Cannont expand "commonpf64" constant on this version of windows.

I suppose, that changing a x64 variable has been forgotten on the x86-installer....

[2020-01-16 13:04] FlorianReimold opened #64 ""This application failed to start becuse no Qt platform plugin could be initialized""
After installing the x64 version on Windows 10 1809 x64, I only get the following error:

"This application failed to start becuse no Qt platform plugin could be initialized. Reinstallling the application may fix this problem."

![error](https://user-images.githubusercontent.com/11774314/72527157-675b1c80-3868-11ea-8ec2-0ffef408559c.png)

I myself develop Software with Qt 5, so my PATH is full of

[2020-01-16 13:16] FlorianReimold commented on #64
OK, got it, I went through the closed issues and found that this has been solved in #36, but the fix hasn't been released as binary, yet.

[2020-01-16 13:16] #64 closed, assigned to nobody

[2020-01-16 13:19] tibold commented on #64
Hey!

Yep, I’ll release an update this Sunday. :)

[2020-01-24 13:42] ionum commented on #5
Not really. But have a look at the documentation: https://www.cairographics.org/documentation/

Someone wrote a python script for converting svg to png (with support of cairo libs) https://cairosvg.org/documentation/

Maybe this helps...

[2020-01-27 14:16] GitMensch commented on #51
@tibold Where are we now here? Can we have an installer with the redist included (ideally with not doing a restart without a question) and more important an installer without any redist included?

[2020-01-27 21:21] jartaud commented on #64
@FlorianReimold You're right. I download the version 1.0.19 from here: https://ci.appveyor.com/project/tibold/svg-explorer-extension/builds/29933374/artifacts and it works.

[2020-01-27 23:57] minig0d commented on #15
Same issue as svenfab.  I also use dark mode and have a lot of svg's without explicitly set colors so the fill can be more easily changed through css.  So background is one way to accomplish the above, but if it's just the dark mode / default of black SVG fill/stroke, another route may be just reading whether dark mode is enabled and if so, render the svg's in white instead?  (That would seemingly

[2020-01-29 01:09] maphew commented on #15
This would be a generic problem for all Windows apps. Makes me wonder if there's already a property to query somewhere. (later) Stack Overflow has a reg key to look at, and better yet code snippets.

- can be set / retrieved through the `AppsUseLightTheme` key at the `HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Themes\Personalize` registry path

[code]

source: https://stackoverflo

[2020-01-29 01:11] User756675678 opened #65 "Some SVGs not render correctly"
I use v1.0.19 x64
1.
`<svg width="68" height="48" xmlns="http://www.w3.org/2000/svg"><path d="M66.5 7.7c-.8-2.9-2.5-5.4-5.4-6.2C55.8.1 34 0 34 0S12.2.1 6.9 1.6c-3 .7-4.6 3.2-5.4 6.1a89.6 89.6 0 000 32.5c.8 3 2.5 5.5 5.4 6.3C12.2 47.9 34 48 34 48s21.8-.1 27.1-1.6c3-.7 4.6-3.2 5.4-6.1C68 35 68 24 68 24s0-11-1.5-16.3z"/><path fill="#fff" d="M45 24L27 14v20"/></svg>`
Must be
![изображение](https://use

[2020-01-29 21:15] maphew commented on #65
I get the same wrong results here. The sample svg look fine in Inkscape, Firefox and Chrome.

[2020-01-30 00:57] kn9 opened #66 "This application failed to start because no Qt platform plugin could be initialized!"
Hi There,

I can't install SVG Explorer Extension. keep getting the error message

The application failed to start because no Qt platform plugin could be initialized

![image](https://user-images.githubusercontent.com/5074663/73410018-e3d60c80-42f8-11ea-94db-3beb2f7906fb.png)

[2020-01-30 01:33] maphew commented on #66
This is believed fixed in #36.  Try a recent Automatic Build - https://ci.appveyor.com/project/tibold/svg-explorer-extension/build/artifacts - and re-open if you still get same message

[2020-01-30 01:33] #66 closed, assigned to nobody

[2020-02-01 11:51] Venegrad opened #68 "Nice try."
Trojan.Win32.Hesv!O

[2020-02-01 11:58] tibold commented on #68
The binary and installer has been verified several times already and is clean.

We keep getting false positives on trojans, there is not a lot we can do about it.

Please submit the full report from your AV, if you have it and correct the title to be respectful.

[2020-02-02 07:45] mybesttools commented on #62
Tried the install and all instructions. Not working for me. I just get errors about Qt not being available.
![image](https://user-images.githubusercontent.com/2362821/73604959-59abd380-4598-11ea-9b4c-a5853a8d142d.png)

[2020-02-02 10:18] tibold commented on #15
I do like this idea of switching the default colors based on the selected theme. Will look into implementing it.

[2020-02-02 10:20] tibold commented on #65
Thanks for the examples.
I'll see if there is anything we can do about it. My initial guess is that we'll need to report these to the Qt guys as bugs.

[2020-02-02 10:25] tibold commented on #63
I have no 32 bit machines anymore and couldn't test this scenario, but seems I didn't get this right.
I'll have it fixed soon.

[2020-02-02 11:17] tibold commented on #63
It seems this has been fixed in  da2df917e95edd3a666bd13bba30d718cb74750a

Could you please test the installer from the latest development build:
https://ci.appveyor.com/project/tibold/svg-explorer-extension/builds/30516120/artifacts

[2020-02-02 11:31] tibold commented on #62
@mybesttools, this has been fixed in #64

[2020-02-02 11:31] tibold commented on #62
Fixed in 1d257e348a45cdd68aedb48a0a055e77b4676735 and 71e45904c346ced278c5f2a4b8b9201fd7bdc191

[2020-02-02 11:31] #62 closed, assigned to nobody

[2020-02-02 11:56] tibold commented on #50
I've create a gpg key and submitted it to `keyserver.ubuntu.com`;
[code]

I'll have the next set of installers signed with this key.

[2020-02-02 13:09] tibold commented on #51
@GitMensch,
I have fixed the installer not to request a reboot in 86a87587670da6d00ec9857b11831bb030faf63a

It is possible to build an installer without the vcredist, however the vcredist included must be installed on the target system for the DLLs to load properly. If you happen to have the vcredist installed already all is fine, but otherwise it wouldn't work.

Considering that the installer is

[2020-02-02 13:10] tibold commented on #50
Included the installer signing in the build script in #70

[2020-02-02 13:10] #50 closed, assigned to tibold

[2020-02-02 13:32] GitMensch commented on #51
Switching to cairo will remove the dependency on QT, as this is a huge package this is reasonable and useful in any case. But to remove the VC dependency we'll additionally have to switch the "default" build and the installer to mingw.
As long as this is finished: please have two installers available. As soon as this is done it would be a good time to have 1.0.1 released ;-)

[2020-02-02 13:36] tibold commented on #51
I tried to set up a MingW build, but it doesn't like the Windows API headers, see #59

[2020-02-07 02:43] GiovanH opened #72 "DllHost: no Qt platform plugin could be initialized."
After having this program installed and working with no problems, I uninstalled it for unrelated reasons. When I reinstalled it, though, it doesn't work.

I get this error message every time it tries to render an SVG thumbnail in the background:

[code]

SVG files do not render.

Deleting the program and reinstalling it does not resolve the issue.

[2020-02-07 02:49] GiovanH commented on #72
With more experimentation, I determined that the old 0.1.1 release works correctly, but the new 1.0.0 release does not work at all, as described.

[2020-02-08 01:30] nasserakhter opened #73 "When will the signed version be available?"

[2020-02-09 18:58] Tymski commented on #72
![image](https://user-images.githubusercontent.com/8183632/74108062-7c308480-4b76-11ea-9b1c-3348374ce25f.png)

[2020-02-11 06:16] User756675678 commented on #65
Possible reason not in render, Maybe in some options for it.
If such options exists of course.
IDK have you render files and exists some options or not.

[2020-02-11 07:08] User756675678 commented on #65
I found cause. QT bug.
If [EllipticalArcCommands](https://www.w3.org/TR/SVG/paths.html#PathDataEllipticalArcCommands) written in short form then it is buggy. For example bugged svg:
`<svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M14.3 1c-.7.1-3 .7-3.3 4a5.2 5.2 0 011.8 9.8A5.3 5.3 0 014.7 11c-1-6 4-10.2 9.5-10A10 10 0 000 10a10 10 0 1014.3-9z" fill="#F91600"/></svg>`
Fixed s

[2020-02-11 07:34] User756675678 commented on #65
Simple regex for fix:
`([Aa][\x09\x20\x0A\x0C\x0D,]*(?:[0-9]+(?:[.][0-9]+)?|[.][0-9]+)[\x09\x20\x0A\x0C\x0D,]*(?:[0-9]+(?:[.][0-9]+)?|[.][0-9]+)[\x09\x20\x0A\x0C\x0D,]*(?:[0-9]+(?:[.][0-9]+)?|[.][0-9]+)[\x09\x20\x0A\x0C\x0D,]*)([01])[\x09\x20\x0A\x0C\x0D,]*([01])`
replace with:
`$1 $2 $3 `
Pay attention for ending space.
`$n` for capture group number. In some regex need use `\n` syntax instead.

[2020-02-11 07:35] User756675678 commented on #65
Search can be done for entire svg code. But more proper way - search path attributes and fix only this.

[2020-02-11 09:05] Daan4 commented on #72
I get the same popup as Tymski, followed by this one

![image](https://user-images.githubusercontent.com/1859384/74222818-9755de00-4cb5-11ea-9a04-526e1e4b7217.png)

The windows defender smartscreen filter also complains when running the installer.

Version 0.1.1 still works though.

[2020-02-11 13:20] tibold commented on #65
Hey, this is really cool. Thanks! I have a pending release but I think I can include this workaround until at fixes it

Tibold Kandrai
Software Architect & Engineer
________________________________
From: User756675678 <notifications@github.com>
Sent: Tuesday, February 11, 2020 8:35:56 AM
To: tibold/svg-explorer-extension <svg-explorer-extension@noreply.github.com>
Cc: Tibold Kandrai <tibold@kandra

[2020-02-12 11:28] Marcus888 commented on #36
I had the same Qt problem!
The version (1.0.19) worked for me too!
The 1.0.0 release doesn't work, same error message.

Thanks!

[2020-02-13 08:52] johanponken commented on #72
I get these two popups, but at installation.
[v1.0.0 64b on 64b Win10 1603 - yes, I know it's old but I'm unable to upgrade]
So I chose to not install (-->"rolling back changes").
I wonder what happened for @GiovanH at install.

[2020-02-13 18:11] Tymski commented on #72
Just use the first release. It appears to be working.
https://github.com/tibold/svg-explorer-extension/releases/tag/v0.1.1

[2020-02-19 05:08] maphew commented on #72
Try a recent automatic build: https://github.com/tibold/svg-explorer-extension#automatic-builds

[2020-02-19 18:44] stevenbriscoeca opened #74 "Cannot install : Unknown publisher"
Working at a company that blocks installs from unknown publishers. I cannot bypass this with "run anyway" that option is not present.

![image](https://user-images.githubusercontent.com/3018441/74864580-cc99a600-531d-11ea-95ad-4b970d993882.png)

Anyway to not get this warning from Microsoft?###

[2020-02-19 18:58] stevenbriscoeca commented on #74
Bypassed by using chocolatey
https://chocolatey.org/search?q=svg-explorer-extension

[2020-02-20 07:45] maphew commented on #74
Ahh, good to know about the chocolatey package. It would be good to let them know when @tibold figures out the new signed release process.

Tthe choco release is probably the same as v0.1.1 from 2017 here:
https://github.com/tibold/svg-explorer-extension/releases

[2020-02-21 15:29] kelderek opened #75 "RegSvr32 failed with exit code 0x3"
When I try to install on a fresh Windows 10 Pro install, the install fails with the following message:

I have narrowed it down to there being no VC runtime installed on the computer.  The installer tries to register the DLL before installing the VC runtimes.  If I manually install the one packaged with the installer and rerun the install, it works fine.  I have also tried with the 2015 VC runtime

[2020-02-21 16:14] kelderek commented on #75
I just created a pull request for you that resolves this issue.  I have tested it on my fresh computer and it works perfectly.  I ended up just using the existing CurStepChanged call you are using to accomplish it instead of adding a call to PrepareToInstall - they both accomplish the same goal and this keeps it simpler.  It could probably use some error checking like aborting the install if the V

[2020-02-29 15:09] User756675678 commented on #65
Any progress here?
Also I try find issue on QT tracker and do not find it. You did not create yet?

[2020-03-15 13:10] andreszs commented on #72
![image](https://user-images.githubusercontent.com/10298071/76702002-19fefe00-66a5-11ea-8789-2cf8edecd8de.png)

**1.0.0** Setup

[2020-03-15 13:15] andreszs commented on #73
What's the difference anyway? The so called "_signed_" x64 installer does not even provide a verified **publisher** :roll_eyes:

![image](https://user-images.githubusercontent.com/10298071/76702075-b6290500-66a5-11ea-8699-05de3d2b1d9f.png)

[2020-03-15 13:18] tibold commented on #73
Those old binaries are there for historical reasons.
Their signature is not valid anymore.

Back in the day there were options for a free open source code signing certificate.
Once I can find an affordable solution today, I'll have the new installers signed. In the mean time only gpg signatures will be provided.

[2020-03-15 13:18] #73 closed, assigned to nobody

[2020-03-22 03:33] Premium4Free commented on #63
![Anotación 2020-03-22 002831](https://user-images.githubusercontent.com/39070725/77241684-89f51300-6bd4-11ea-92b8-cd2713e7b065.jpg)

I still can't install it.

[2020-03-22 04:11] ghost commented on #63
![Anotación 2020-03-22 002831](https://user-images.githubusercontent.com/39070725/77242131-f9b9cc80-6bd9-11ea-8122-05f2266cc4a9.jpg)

I still can't install it.

[2020-04-01 14:40] musm opened #77 "add chocolaty install option"
Would be great, and help facilitate new installs on machines in bulk and smooth updates.

[2020-04-02 10:40] chrisdjali-wrld3d commented on #77
https://chocolatey.org/packages/svg-explorer-extension exists but is pretty out of date

[2020-04-08 09:18] bigbird1985 commented on #72
https://ci.appveyor.com/project/tibold/svg-explorer-extension/builds/30968882/artifacts  Try this build, work perfect.

[2020-04-10 20:25] SvenNoomen opened #78 "After installing, windwows explorer does not show preview for .svg"
Can someone help me out,,, please ;)

Installed on a Windows 10, x64, latest Insider Build

[2020-04-11 07:56] SvenNoomen commented on #78
It works now! Reboot ;) THANKS so much for this great tool

[2020-04-11 19:18] abdelhakoussaid opened #79 "The installer reboots the machine without notice"
The installer did restart my machine without any notification, I did install the lastest version. I'm on Windows 10 Home X64.

[2020-04-16 08:38] icyenvy opened #80 "Help with uninstall"
Hi,

Thank you for creating this project!
Unfortunately I need to remove it from one of the machines and I do not find any entry in the add/remove programs.  Caan anyone help me with the right way to remove the program?

Many Thanks

[2020-04-17 06:23] GitMensch commented on #49
Is this solved as "stays as is"?

[2020-04-17 13:44] burakt91 commented on #63
Windows 7 x86 here. I can install it successfully from your link, but i get the same error when i install it from this repository's releases section.

[2020-04-17 22:11] maphew commented on #78
thanks for coming back and reporting :)

[2020-04-17 22:11] #78 closed, assigned to nobody

[2020-04-17 22:18] maphew commented on #63
Many of the recent bug reports stem from people using the Releases instead of the [automatic builds](https://github.com/tibold/svg-explorer-extension#automatic-builds). Is there some way to turn the releases off until a valid one can be published? ... or maybe just edit the release note comment to say they're here for historical reasons and most people will be happier with a green auto build.

[2020-05-05 23:46] MaxmaxmaximusGitHub opened #81 "[Feature Requeest] White SVG not visible, add chessboard on the background"
just add a checkerboard texture to the transparent areas of svg, then people will have an understanding that where chess, and all icons will be visible, including white ones, and even translucent

![image](https://user-images.githubusercontent.com/60403187/81126358-b7f3a400-8f43-11ea-96be-bb009f8d4a7b.png)

![image](https://user-images.githubusercontent.com/60403187/81126353-b4601d00-8f43-11ea-9d3

[2020-05-12 18:29] jonshipman commented on #44
@GitMensch I know that there isn't currently a build of Qt for Windows on ARM. So that problem would be solved by dropping Qt.

[2020-05-20 13:56] VA1DER commented on #29
Perhaps you want to offer some more details as to why the certificate was revoked.  A certificate revocation on a code signing certificate is a serious event.  Telling people to just move to an unsigned version doesn't address concerns over, say, why the certificate was revoked in the first place.

[2020-05-20 14:02] tibold commented on #29
I have no clue why it was revoked.
That certificate is so old I have no access to any of it anymore.

The free certificate offering for open source code was discontinued, so I don’t actually know from where to get a new certificate cheap.

Tibold Kandrai
Software Architect & Engineer
________________________________
From: Kurt Fitzner <notifications@github.com>
Sent: Wednesday, May 20, 2020 3:56:3

[2020-05-20 15:07] VA1DER commented on #29
I would recommend Certum.  They offer open source code signing certificates for €25, which is the cheapest I know about.  Unfortunately, I don't know of any more free code signing certificates for open source developers.

[2020-05-20 15:09] tibold commented on #29
Thanks,
I was considering that too. They were the ones that offered the free one as well.

[2020-05-20 17:31] matfroes commented on #80
You can probably see it on your Programs Folder under the Local Disk

[2020-05-22 19:08] kbravh commented on #81
This issue has been brought up here: https://github.com/tibold/svg-explorer-extension/issues/15

[2020-05-26 16:14] zehawki opened #82 "Machine restart with any warning / confirmation"
Upon installation, without any warning or permission, this program just sends a forced reboot. That's terrible practice, or?

(What a mess to happen in the middle of work, with so many programs open at various stages. I was saved by Windows asking for confirmation since it was not able to force close some programs and there I managed to cancel the restart without much damage.)

Unfortunately ended

[2020-05-27 21:18] maphew commented on #82
Duplicate of #79, and yes auto restarts is not good at all.

[2020-05-27 21:18] #82 closed, assigned to nobody

[2020-05-27 21:21] maphew commented on #79
Can you clarify precisely which latest version was used, as in what url was used or the navigation path to get to it?

[2020-05-27 21:24] maphew commented on #81
closing in favour of the older issue

[2020-05-27 21:24] #81 closed, assigned to nobody

[2020-05-27 21:41] maphew commented on #80
It should be listed to remove in _Control Panel >> Apps & Features_ as "SVG Explorer Extension".
If it's not there try just running unins001.exe in `C:\Program Files\SVG Explorer Extension`.

To manually uninstall you can try:

1. Open an administrative command prompt window
2. Unregister the DLL
3. navigate to "Program Files\SVG Explorer Extension"
4. follow the install instructions part about [k

[2020-05-27 21:45] maphew commented on #80
Actually, **first** try just running unins001.exe in `C:\Program Files\SVG Explorer Extension`

[2020-05-28 11:11] rightmark opened #83 "Cannot install"
finally I got a message from regsvr32:

app reinstall does not help. system restart does not help as well.
Win10,
currently installed Qt 5.13,
SVG extension v0.1.1 was installed and uninstalled manually before this new install.

[2020-05-29 13:00] abdelhakoussaid commented on #79
I used the version 1.0.0 and I have downloaded svg_explorer_extension_x64.exe from the releases section. For the installation I have kept everything as default (I hit next until finished).

[2020-05-30 05:43] maphew commented on #83
Try one of the  [automatic builds](https://github.com/tibold/svg-explorer-extension#automatic-builds). Also see https://github.com/tibold/svg-explorer-extension/issues/72#issuecomment-610848801 that references a particular build several have confirmed worked for them.

If that doesn't work feel free to re-open this issue and add whatever more detail might help troubleshoot.

[2020-05-30 05:43] #83 closed, assigned to nobody

[2020-05-30 05:49] maphew commented on #79
@tibold even though signed installers can't be created yet, perhaps a dot release from the [automatic builds ](https://github.com/tibold/svg-explorer-extension#automatic-builds) should be tagged as a release to stop people from experiencing this?

[2020-05-30 06:12] maphew commented on #29
perhaps CodeNotary? See ad post: https://medium.com/vchaincodenotary/developers-unite-against-the-expensive-and-cumbersome-code-signing-certificates-d54342016a64.

[2020-05-30 11:51] VA1DER commented on #29
From what I can tell, CodeNotary is a side-channel software verification system that doesn't interface with the Windows installer.  How much you have to pay for it no one can actually see, because they are careful not to say anywhere how much you have to pay until after you sign up for the "free 30 day trial".  It [looks like](https://www.tenforums.com/tutorials/78681-add-file-hash-context-menu-wi

[2020-05-30 21:49] maphew opened #84 "Info - powertoys enables svg preview"
Windows PowerToys has a module which enables SVG in the preview pane:
https://github.com/microsoft/PowerToys/tree/master/src/modules/previewpane

At this point it's only in preview pane and not in thumbnails like SVG explorer extension. Other powertoy modules draw on and credit open source projects, so perhaps there's room for collaboration and sharing with this project too.

[2020-05-31 11:58] tibold commented on #84
This looks interesting.
When I originally did my research .NET and C# wasn't supported for Thumbnail and preview handlers.

http://www.codemonkeycodes.com/2010/01/11/ithumbnailprovider-re-visited/

If using C# and .NET is supported now, than we could switch the platform and simplify a lot of things. It could also allow us to loosen the license.

[2020-05-31 12:03] tibold commented on #80
For the manual uninstall first you need to unregister the extension. From an admin console run:
`regsvr32.exe /u "C:\Program Files\SVG Explorer Extension\SVGThumbnailExtension.dll"`

[2020-05-31 12:20] tibold commented on #49
No, I started renaming the project to `SvgSee`.
There are a few more things left to do though.

[2020-05-31 12:24] tibold commented on #79
This has been fixed in 86a87587670da6d00ec9857b11831bb030faf63a

Apparently I forgot to upload a new release.
@maphew , yes I'll get a new build uploaded to the releases.

[2020-05-31 12:24] #79 closed, assigned to nobody

[2020-05-31 14:01] tibold commented on #75
Thanks for your help!
Just posted a release containing your changes.

[2020-05-31 14:01] #75 closed, assigned to nobody

[2020-05-31 14:04] tibold commented on #72
A new release was posted today should solve this.
Feel free to re-open if the issue persists.

[2020-05-31 14:04] #72 closed, assigned to nobody

[2020-05-31 14:05] #49 closed, assigned to nobody

[2020-06-01 05:30] maphew commented on #84
Simplification would be good from my point of view. Less out of my depth ;-) Today's new svg-see release installed well on my machine (no unwanted reboot).

There was a notification alert from PowerToys about svg-see extension being elevated that looked alarming but turned out to be more of a "well, I would expect that" situation:

[2020-06-01 14:54] kelderek opened #86 "DisplayVersion still says 1.0.0 for version 1.1.0"
The installer is still setting the DisplayVersion in the registry for SVG See as 1.0.0.  I created PR #85 that updates the AppVersion variable in the installer to match the actual app version.

[2020-06-01 15:00] kelderek commented on #86
PR has been approved - closing this issue

[2020-06-01 15:00] #86 closed, assigned to nobody

[2020-06-01 15:32] kelderek commented on #74
@tibold Here is the Inno Setup docs on how to get it to generate a signed installer: https://jrsoftware.org/ishelp/index.php?topic=setup_signtool

You would still need to get the code signing certificate, though.

[2020-06-01 18:22] mixa999999 opened #87 "Request. Raster image view"
Hi, is there any chance to make svg thumbnailer able show in-build raster images?

![image](https://user-images.githubusercontent.com/7505989/83440601-dfa83000-a44d-11ea-9d25-15c9377e764b.png)
![image](https://user-images.githubusercontent.com/7505989/83440626-eb93f200-a44d-11ea-8a73-833243275417.png)

[2020-06-05 13:56] GitMensch commented on #51
So we do have a 1+ release which is good. The installer size is still that big.
Question @tibold: can you provide two binaries - one with and one without the vcredist included?

[2020-06-05 14:01] GitMensch opened #88 "Implement a ChangeLog"
As far as I see the only way to check any changes is too inspect the commit history, which is not always the best thing.
We do have the user-visible changes (something often found in a NEWS or RELEASE file) in the releases (for 0.1.1, 1.0, 1.1).

Maybe it is good to at least have one of both in the repository?

A "modern" way of a ChangeLog format (which is actually more a NEWS file...) can be fou

[2020-06-10 16:07] User756675678 commented on #65
New release 1.1.0 but issue still here.

[2020-06-15 18:34] tinne opened #89 "SVG preview in compressed folders does not work"
When I open a subfolder of a ZIP file in Windows Explorer and change the display settings to a mode which would display preview icons if unpacked, only the generic default SVG icon (IE by default) is displayed. Unpacking the same folder yields the correct view.

Can be reproduced on, e.g., [fontawesome-free-5.13.0-desktop.zip](https://github.com/FortAwesome/Font-Awesome/releases/download/5.13.0/fo

[2020-06-23 01:41] AdrianoCahete opened #90 "Make install file compatible with Winget"
[Winget](https://github.com/microsoft/winget-cli/) is the new official Microsoft Package Manager.

Packages are [here](https://github.com/microsoft/winget-pkgs).

[2020-07-08 02:39] soilstack opened #91 "Thumbnails effectively invisible."
I associate my svg files with InkScape 1.0.  This is an updated Windows 10 Pro install.

All thumbnails for my own svgs and svg I download from web seem to be invisible.

![image](https://user-images.githubusercontent.com/15952683/86868124-b93d7a80-c106-11ea-83b6-5b17677db6ee.png)

But then I realized if I hover my mouse pointer over a file, the highlighting suggests the image is being shown, but

[2020-07-11 04:24] dragonkey100 opened #92 "Feature Request - Check if using dark theme, and turn the icons white"
For more flexibility, I think you should get the background colour, and then get the inverse colour (instead of being locked to black or white) so that the contrast is high. Thanks.

[2020-07-11 04:27] dragonkey100 commented on #92
Note: I can see much better when the icons are selected because the background becomes much brighter.
So I think you'll have to adjust for that as well.

[2020-07-14 20:42] eLIANT-TechnologyServices opened #93 "Are Install instructions up-to-date?"
I'm new to Github so maybe the answer to my questions is painfully obvious, but the installation steps in the README.MD file don't match what is available on the Github page for this product.

They say, "download and run appropriate binary for your system," but Github shows no reference to a binary - only a ZIP file, and it doesn't appear to contain a binary file.  And there's only one of those Zi

[2020-07-15 12:25] tibold commented on #93
Hey,

The binary downloads are on the release page.
https://github.com/tibold/svg-explorer-extension/releases

Tibold

[2020-07-15 12:25] #93 closed, assigned to nobody

[2020-08-02 02:40] staticfluids opened #94 "Windows Explorer suddenly use more CPU when searching a folder full of SVG"
Windows Explorer suddenly use more CPU when searching a folder full of SVG. when i open task manager, the Windows Explorer use like 20% to 30%. i don't know if the problem only happens to me but i think this need to be fix thanks

[2020-08-17 07:08] voxain commented on #89
As far as I know, that's how zip files always are. That's not an issue of the extension - If you put a png file inside a ZIP-Archive, it also won't render a thumbnail because that would require the file to be uncompressed first. Now if you have a folder with, let's say, 500 png icons, that's not just gonna take a while, but also will completely destroy the logic behind a compressed archive which i

[2020-08-17 09:40] tinne commented on #89
You are right.

I fell for the fact that certain image formats support embedded previews images which can be rendered in this situation, and WE does so if the image resolution fits.

Since the SVG standard does not support this (and adding support would perhaps unneccessarily increase the size of compact files) I close the ticket.

[2020-08-17 09:40] #89 closed, assigned to nobody

[2020-09-01 04:42] blackcrack opened #95 "a small Gui for reassign the Extensions (for 0.12)"
Hi,

could you maybe add a small Gui for reassign the Extensions for view in Explorer..
I have become with to have the Inkscape put they're f.. Icons on the preview in the Explorer,
for reassign this nice preview-extensions should it give a small Surface for switching the preview back to default or assign again to this preview or an other program..(to have only a 3rd possibility)

i love this exte

[2020-09-08 02:42] Kenya-West commented on #90
Or Microsoft Store!

Microsoft Store is one place for everything in your life, moving your experience to a safe one and making it accessible from many devices that added to your Microsoft account.

Publishing apps to Microsoft Store is benefit both for users and developers + enterprise. Deploying classic apps, that available in Microsoft Store, with safe methods to a verified environments is trust

[2020-09-09 15:43] deffash commented on #87
Hi, I have the same problem! Help

[2020-09-09 15:50] deffash commented on #87
If the file contains raster and vector objects, then only the vector is visible
Is there a solution to this problem?
Thanks for the answer

[2020-09-15 05:32] GitMensch commented on #84
[PT File-Explorer-Add-ons-Overview ](https://docs.microsoft.com/de-de/windows/powertoys/file-explorer) now also includes preview (svg + markdown) and thumbnail (svg).

The main difference would be in the license LGPLv3+ vs. MIT (PT are free but not copy-lefted) and that this extension also works on old versions of Windows (probably also ReactOS) and without .NET. Here are their requirements as of

[2020-10-21 04:41] pb5050 opened #96 "Not workin @ all windows 10 newest build"
![image](https://user-images.githubusercontent.com/58855947/96674131-ab1a0f80-132d-11eb-849a-70ad13e8595b.png)
Yes i cleared my cache (several times)

[2020-10-22 22:56] josephan commented on #96
Hello I am also unable to see the previews and have tried all 3 methods in the README.
My windows version:
Edition: Windows 10 Home
Version: 2004
OS build 19041.572

[2020-10-23 02:45] pb5050 commented on #96
same here im using

build 19042.572 insider edition, but your not so it seems like it may be a new windows thing? hopefully we hear back  =[ i cant find any other program that does previewes

[2020-10-23 06:20] bsbirdi opened #97 "After Installing 'svg_see_x64' my pdf thumbnails were lost"
After Installing 'svg_see_x64' my pdf thumbnails were lost!

[2020-10-23 20:53] josephan commented on #96
@pb5050 I found another program that enables SVG previews by microsoft: https://github.com/microsoft/PowerToys#file-explorer-add-ons

[2020-10-27 03:43] pb5050 commented on #96
i use surface x pro ;yARM 64, i need  x32(x86) bit or ARM so that wont work for me :I this is my on ly option

[2020-11-26 18:31] RaphaelDrewBoltman opened #98 "SVG does not update when changing file canvas/object colors"
first of all, i want to say that SvgSee is being a useful too for me and i want to thank all of the contributors and the head creator for it!
so, here's my problem:

file canvas - updated from the "default" size (A4 size) to the same size as the object i created, the thumbnail didn't update:
![image](https://user-images.githubusercontent.com/50070802/100382869-2c8f4c80-3014-11eb-8519-28f0f7efdfa5.

[2020-12-09 09:51] lmiol opened #99 "Color not worked correctry in specific SVG"
![image](https://user-images.githubusercontent.com/264879/101613715-87b63b80-3a25-11eb-9788-387b88a95aea.png)

[Sketch Icons.zip](https://github.com/tibold/svg-explorer-extension/files/5664944/Sketch.Icons.zip)

Windows 10 Home x64 build 19041.630

[2020-12-09 09:57] lmiol opened #100 "Preview of some images is stretched out"
![image](https://user-images.githubusercontent.com/264879/101618526-8daf1b00-3a2b-11eb-99d6-122c455bfd44.png)

[company_coin_icon_old.zip](https://github.com/tibold/svg-explorer-extension/files/5665001/company_coin_icon_old.zip)

Windows 10 Home x64 build 19041.630

[2020-12-09 10:03] lmiol opened #101 "How to disable app icon on preview?"
![image](https://user-images.githubusercontent.com/264879/101615281-60606e00-3a27-11eb-9115-972664ee9668.png)

[2021-01-15 07:02] nirajanbist opened #102 "Scrolling with Touchpad --FAILED"
SCROlling in PowertoysUI is not allowed with touchpad

[2021-02-17 10:03] qclix opened #103 "Installer fails with "unable to register DLL/OCX""
I downloaded the latest version at this date of svg_see_x64.exe.
The installed fails with the message:
Unable to register the DLL/OCX: RegSvr32 failed with exit code 0x3.

Here is the screenshot of the message:
<img width="294" alt="Capture" src="https://user-images.githubusercontent.com/24581023/108187187-7ae15280-710e-11eb-9e32-f2fa1b2ca0fd.PNG">

I'm running Win 10 (64 bits) 2004
version 19041.

[2021-02-17 22:40] luc7v commented on #103
I have the same problem,

[2021-02-19 16:18] mikenakis commented on #92
Let me explain what the issue is a bit better, and a possibly preferable solution.

In general, "dark mode" is very popular among people who tend to use a computer a lot (for example, programmers) and who
also tend to want to have control over their computer instead of just accepting things the way they are. (For example, programmers.)

As a result, (catering to popular demand,) popular IDEs have

[2021-02-23 03:47] gabi2367 commented on #103
This is the same error I see and it doesn't work when I click "Ignore the error and continue" either.

[2021-02-27 00:20] Tyxiang commented on #103
The same.

[2021-02-28 09:52] AndroidDeveloperLB opened #104 "Request: offer new-version update mechanism"
Maybe show a notification when there is a new version, and offer to disable or remind-later...

[2021-02-28 09:58] AndroidDeveloperLB opened #105 "Request: also support Android VectorDrawable , or create a similar tool for it"
Currently this is the only plugin I know for Explorer on Windows OS to show SVG files.
I like this tool very much.

As I'm an Android developer, I have both SVG files and VectorDrawable files.

Android itself doesn't support SVG files directly. It requires either a special library to render it (which most apps don't do it, as it's very complex) or uses a similar format called "VectorDrawable". It'

[2021-03-01 03:49] gabi2367 commented on #63
It works now! Thank you!

[2021-03-03 13:32] shipsywor opened #106 "Had to reinstall extension/app after every restart to have it work on Windows 10"
OS: Windows 10 Pro | Build 19042

On reinstalling, it works but had to do it everytime when I start PC.

[2021-03-08 01:11] GHKazza commented on #101
x2

[2021-03-08 01:14] ghost commented on #101
x3

[2021-04-07 09:10] Daniel-Beardsmore opened #107 "Could SVG-See honour image sizes?"
Is there a possibility that, for image sizes not exceeding the thumbnail size, the thumbnail could be sized according to the image itself? For example, a 16×16 icon saved as a .png file yields a 16×16 pixel thumbnail in Explorer’s Large Icons view. That is, the thumbnail shows precisely what the image looks like without scaling it up to fit the available space (although this approach causes Explor

[2021-04-15 12:18] Slion opened #108 "SVG thumbnails rendered with white backgrounds instead of transparent"
I was having an issue where Windows would render SVG thumbnails with a white background which is useless if you have a lot of white icons. Though I recalled that at some point after installing SVG See they were rendered correctly with transparent background.

It turns out I suspect PowerToys modified the registry to set a different SVG thumbnail provider for some reason.
Here is the relevant regis

[2021-04-17 08:32] SylvainAssemat commented on #108
Hi @slion

Does my problem is related to your fix ? Cause i check the registry and` {4CA20D9A-98AC-4DD6-9C16-7449F29AC08A}` is set.

![SVG](https://user-images.githubusercontent.com/5692760/115106964-36383300-9f68-11eb-8ab9-ac1ac91670a7.png)

[2021-04-17 10:37] Slion commented on #108
I'm not sure what we are looking at. Just reinstall SVGSee and see if it helps I guess.

[2021-04-17 12:36] #108 closed, assigned to nobody

[2021-04-29 04:03] Taswen commented on #99
Sometimes the graphics can't be displayed correctly.

This is what the SVG images look like in the preview.
![error](https://user-images.githubusercontent.com/30777327/116500588-6fb25c00-a8e1-11eb-80f1-05b708098fca.png)

This is what they originally looked like.
![correct](https://user-images.githubusercontent.com/30777327/116501148-ac328780-a8e2-11eb-823f-4eff8e99bfce.png)![correct2](https://user

[2021-05-05 09:51] bardout opened #109 "portable exe ?"
This solution is not installable without admin right. Likely difficult to make the win explorer use a program without registry update, but other use of viewer may be possible in portable explorer replacement like FreeCommander ?

[2021-05-05 17:04] Tracer1337 opened #110 "Does not work for me (Win 10)"
Downloaded ``svg_see_x86.exe``  from the v1.1.0 release, executed it, done the three troubleshooting steps, but the thumbnails are still not there (yes, I have restarted my PC).

![Screenshot](https://user-images.githubusercontent.com/6074468/117180331-5e32ed80-add4-11eb-87b3-1ad69cf5f82a.png)

Can I somehow verify the installation?
Any suggestions?

Thanks in advance 😄

[2021-05-10 14:15] RebeccaAtGitHub commented on #110
Hi Tracer1337,

I had the same issue and tried svg_see_x64.exe afterwards.
This worked for me.

Maybe that's also a quick fix for you and another hint for troubleshooting for our beloved contributors to this project!

Best regards!

[2021-05-10 17:24] Tracer1337 commented on #110
@RebeccaAtGitHub Using the x64 installer does also work for me, thanks 👍

[2021-05-10 17:24] #110 closed, assigned to nobody

[2021-05-18 15:41] Tracer1337 opened #111 "Obsolete due to MS PowerToys"
Microsoft's [PowerToys](https://github.com/microsoft/PowerToys) offer the same feature, which makes this repository kinda unnecessary to use.

[2021-05-27 10:18] francescomosca opened #112 "explorer.exe uses more than 2GB of ram (Memory leak?)"
With SVGSee installed, the explorer process uses more than a common <100mb of ram (the explorer ram usage after I uninstalled it).

I'm on Windows 10 Pro 21H1 (19043.985).
I'll try to get more information if needed

[2021-05-29 08:34] #102 closed, assigned to nobody

[2021-05-29 23:23] DavidRockin commented on #111
Absolutely brilliant! Thank you for sharing this, I really appreciate it. It contains _exactly_ what I've wanted for years, and a bit more. :)

[2021-06-28 09:13] francescomosca commented on #112
The problem isn't caused by SVGSee

[2021-06-28 09:13] #112 closed, assigned to nobody

[2021-08-20 01:05] legavin1023 opened #113 "They all look black."
translator:

SVG looks black. Some appear on a white background and some appear on a black background.

I'm working on a black resource, but I can't see it. It has nothing to do with Windows Dark Mode.

The color also appears black.

![GOMCAM 20210820_1004580860](https://user-images.githubusercontent.com/26314341/130162950-1ca731d6-4c57-48f4-a43a-ee832c9ef218.png)

[2021-08-24 15:34] ms71079 opened #114 "only works on some"
The extension is not working on all SVGs.  Some older files show thumbnails, some do not.  Newly downloaded files do not show thumbnails at all.  Any ideas on how to fix this?

![2021-08-24 (2)](https://user-images.githubusercontent.com/89465456/130646107-1675158a-a2b6-4e21-a9de-a819bc554e6c.png)

[2021-11-22 13:10] lomegg opened #115 "Masks not rendered"
Using example [from here](https://developer.mozilla.org/ru/docs/Web/SVG/Tutorial/Clipping_and_masking) renders plain red square in preview, instead of masked gradient.

[code]
Result:
![image](https://user-images.githubusercontent.com/3497336/142867608-dcad4f67-b804-4991-a0f7-d44269298377.png)
Expected result:
![image](https://user-images.githubusercontent.com/3497336/142867689-d2c8d598-ce9e-47af-

[2021-11-24 06:29] GitMensch commented on #111
This is a duplicate of #84 so I'd suggest to close this as duplicate.

For a "recent" MS system that will likely be the way to go, but only there:

If you don't want (or can't) have .NET Core installed or use an older OS (possibly also if you use [ReactOS](https://reactos.org/)), then Svg See is the way to go - but that is definitely only a minority of users.

BTW: Can anyone report if Windows 11

[2021-11-24 06:38] GitMensch commented on #109
While it _would_ be possible reusing many of the code of this extension a SVG _viewer_ is not what this **Windows explorer extension** is about. There are likely other viewers out there but if you need a portable app that would also allow to show all meta data (and print and ...) then you may want to have a look at Inkscape, smallest version is old [0.9.1 32bit](https://inkscape.org/release/0.91/w

[2021-11-24 06:47] GitMensch commented on #105
That sounds like a reasonable request. If QT (which does the actual "drawing" for this extension) supports it directly that should be easy, if not it may be possible to convert to an svg internally, then use the current code.

The likely "hardest" part is to register that for XML while not breaking other XML previews.

Note: for recent Windows versions you may want to try the [MS File Explorer Add

[2021-11-24 20:44] AndroidDeveloperLB commented on #105
@GitMensch What is this other addon?
Is it a newer version of the current one?
Or a very different one?
Is it open sourced like the current one?
I can't even see how I can install it...
Why write about it there?
What's special about "recent Windows versions" ? The current one is no longer working properly? Is it about to stop being updated?

Also I don't see it mentioned there that it's supported.

[2021-11-24 21:02] GitMensch commented on #105
The MS file explorer addons, which are part of the "revamped" Powertoys (now MIT-licensed and community-driven) only work on "reasonable new" Windows versions, while this addition also works for much older (actually I haven't used that on W10 any more since I've started to use the other addon).
If it isn't supported there I suggest to create an issue (see link above) and see if someone picks that

[2021-11-24 21:57] AndroidDeveloperLB commented on #105
@GitMensch OK thanks. Requested here:
https://github.com/microsoft/PowerToys/issues/14636

[2021-11-26 13:43] Dhyfer1 commented on #111
@GitMensch On Windows 11 Pro 64bits and without installing svg-explorer-extension, and with a system folder containing several svg files and the preview enabled in the explorer options, the svg files are only shown as you can see in the image below

![image_1](https://user-images.githubusercontent.com/50301201/143589953-eade7b3b-0648-48ee-b19f-431279fcb8b0.png)

[2021-12-27 10:22] bedomon opened #116 "Didn't work with folder manage with microsoft onedrive"
**if the svg file are within onerive sync folder** we can't see anything

the file is a valid svg file, we see it content if we are outside onedrive folder.

[2022-02-13 05:15] KaiHuaDou opened #117 "Arcs are not displayed correctly"
I'm trying to use this application to view an SVG file with many arcs, but this file donot display correctly. I think this may be caused by not calculating the relative position correctly.

[2022-02-13 05:16] KaiHuaDou commented on #117
actual:![实际](https://user-images.githubusercontent.com/74781268/153739743-f0683271-a18f-4bf5-afbe-abde5552bdd6.png)

[2022-02-13 05:16] KaiHuaDou commented on #117
exepected:
<img src="https://user-images.githubusercontent.com/74781268/153739749-ff3de400-426e-4c25-b995-cd6f51776cbb.png" alt="预期" style="zoom:25%;" />

[2022-02-23 16:19] dFxed opened #118 "image xlink:href not rendering"
Locally referenced image doesn't render on thumbnail. Web browsers correctly display the svg.

[code]

[2022-03-28 15:44] dragonkey100 commented on #92
I guess this cannot be solved.

[2022-03-28 15:44] #92 closed, assigned to nobody

[2022-05-17 02:13] alixedomn opened #119 "Inkscape SVGs have no preview in preview pane"
Inkscape SVGs do not display a preview on explorer's preview pane. Saving as optimized SVGs make preview available.

How to duplicate:

1. Open Inkscape
2. Draw anything or open an existing SVG
3. Save as an Inkscape SVG
4. Save as an optimized SVG
5. Check saved files in explorer's preview pane

[2022-05-17 02:29] alixedomn commented on #119
Inkscape SVG
![Inkscape](https://user-images.githubusercontent.com/53059122/168716085-e051927b-4bec-4b4d-b8f8-927ec17d9f0e.svg)

Optimized SVG
![Optimized](https://user-images.githubusercontent.com/53059122/168716088-34b75cac-3414-4ccd-9308-2a0a3267c1b5.svg)

[2022-07-22 13:31] oweniverson commented on #106
Same issue for me, but that it doesn't require a restart makes it not that big of a deal. Still a great utility!
Windows 10 Pro
21H2
19044.1826

[2022-07-22 13:34] oweniverson commented on #111
I tried getting Power Toys (v 0.60.1-x64) to work for a few days and just couldn't get it working. This works immediately, but must re-run the installer after a Windows reboot.

[2022-09-20 16:59] JamieRCHI commented on #111
Same here. I disabled the PowerToys option and did what you suggested.
Works Great. Thank you. 👍

[2022-09-24 08:47] skyler-cs commented on #116
It occurs with Synology Drive too.
It seems to be related to the **"Save space and download files as you use them"** function.

https://github.com/tibold/svg-explorer-extension/issues/1#issuecomment-527181362

[2022-11-22 23:24] lodrik5000 opened #120 "SVG thumbnail not show"
I installed on Windows 10 and Windows Server 2019 Standard version

On Windows 10 works well, On server version not working. I tried the three methods, when it didn't worked I raised the issue  here,
I can't see the option on File explorer view > show/hide menu, the checkbox for thumbnail